body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#teclado {
    font-size: 24px;
    font-weight: bold;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.correcto {
    background-color: green;
    color: white;
}

.incorrecto {
    background-color: red;
    color: white;
}
